.Dish {
    font-size: large;
}

.DishText {
    padding: 10px;
}

img {
    width: 200px;
    height: 200px;
    overflow: hidden !important;
}

.card {
    width: 100%;
    margin: 0px;
    border-width: 5px;
    border-color: #1FAB89;
    overflow: hidden !important;
}

.card:hover {
    border-color: #32e7bb;
}

.icon{
    font-size: 200% !important;
}

.icon_standart {
    font-size: 200% !important;
    color: #1FAB89 !important;
}

.icon_standart:hover {
    color: #32e7bb !important;
}

.list {
    width: 100%;
    overflow: hidden !important;
}

.listItem {
    width: 500% !important;
    height: 500% !important;
    margin: 0;
    overflow: hidden !important;
}

.button {
    background-color: #1FAB89 !important;
    margin-bottom: 15px;
}

.button:hover {
    background-color: #32e7bb !important;
}